html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

.box {
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

